[submodule "protocol"]
	path = protocol
	url = git@github.com:Leea-Labs/leea-agent-protocol

[submodule "contracts"]
	path = contracts
	url = git@github.com:Leea-Labs/leea-contracts.git
	branch = client-rs
